In [151]:
# dependencies
import pandas as pd
import numpy as np

import datetime as dt
import matplotlib.pyplot as plt
import statistics

In [152]:
# function to read csv into dataframe
def load_file(data):
    file_df = pd.read_csv(data, header = None)
    return file_df

In [153]:
# test, ohd_mag_20
ohd_mag_20 = "source/OHD 2020 - 2020.csv"
ohd_mag_20_df = load_file(ohd_mag_20)
ohd_mag_20_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,AT HOME,$25,hr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ON SITE,$35,hr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Date,Location,Time Start,Time End,Time Spent (hr),Square Footage,Time Cost + Parking,Running Total,Parking,NaN,NaN,NaN
3,12/26/19,2720 Balboa St,NaN,NaN,1.5,NaN,$37.50,$37.50,NaN,NaN,NaN,NaN
4,12/27/19,1459-1461 Thomas Ave,NaN,NaN,2,NaN,$50.00,$87.50,NaN,NaN,NaN,NaN

In [214]:
# clean ohd_mag_20

# delete first row
clean_ohd_mag_20 = ohd_mag_20_df.drop([0,1])
# delete unnecessary columns
clean_ohd_mag_20 = clean_ohd_mag_20.drop(columns = [2,3,7,8,9,10,11])
# replace column headers
clean_ohd_mag_20.columns = clean_ohd_mag_20.iloc[0]
# reset index of rows
clean_ohd_mag_20 = clean_ohd_mag_20[1:].reset_index(drop = True)
# replace empty cells with NaNs
clean_ohd_mag_20.replace(r'^\s+$', np.nan, regex=True)
# fill NaN cells with ones above
clean_ohd_mag_20[['Date']] = clean_ohd_mag_20[['Date']].fillna(method = 'ffill')
clean_ohd_mag_20.loc[79:85,:]

2,Date,Location,Time Spent (hr),Square Footage,Time Cost + Parking
79,7/28/2020,338-340 Divisadero St,1.5,NaN,$37.50
80,7/29/2020,3950 Clay St,2.5,NaN,$62.50
81,7/30/2020,1940 Broadway St 1W,2.5,"1,795",$157.50
82,7/30/2020,1127 Hampshire St,1.25,"1,855",$140.00
83,7/31/2020,431 Bridgeway,1,NaN,$25.00
84,7/31/2020,2289 Forest View,5,NaN,$125.00
85,8/3/2020,1055 Carolina St,1.5,NaN,$37.50

In [215]:
# further cleaning

# convert objects to correctt dtypes
clean_ohd_mag_20['Location'] = clean_ohd_mag_20['Location'].astype('string')
clean_ohd_mag_20['Time Spent (hr)'] = clean_ohd_mag_20['Time Spent (hr)'].astype('float')

# change NaN sqft to 0
clean_ohd_mag_20['Square Footage'] = clean_ohd_mag_20['Square Footage'].fillna(0)
# convert to string
clean_ohd_mag_20['Square Footage'] = clean_ohd_mag_20['Square Footage'].astype('str')
# delete commas and +
clean_ohd_mag_20['Square Footage'] = clean_ohd_mag_20['Square Footage'].apply(lambda x : x.replace(',',''))
clean_ohd_mag_20['Square Footage'] = clean_ohd_mag_20['Square Footage'].apply(lambda x : x.replace('+',''))
# convert to int
clean_ohd_mag_20['Square Footage'] = clean_ohd_mag_20['Square Footage'].astype('int')

# delete the '$' sign then convert to float
clean_ohd_mag_20['Time Cost + Parking'] = clean_ohd_mag_20['Time Cost + Parking'].str[1:].astype('float')

clean_ohd_mag_20.drop(clean_ohd_mag_20.loc[clean_ohd_mag_20['Date'].str.contains('-')])
#clean_ohd_mag_20['Date'] = pd.to_datetime(clean_ohd_mag_20['Date'])

#clean_ohd_mag_20.dtypes

KeyError: "['Date' 'Location' 'Time Spent (hr)' 'Square Footage'\n 'Time Cost + Parking'] not found in axis"